//Миксин с шрифтами
@mixin roboto {
    font-family: 'Roboto', sans-serif;
}

@mixin centered{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

*{
    box-sizing: border-box!important;
}

























body{
    background: #DFECFC;
}

.global-container{
    height:100%;
    width:100%;


    .navbar {
        margin-left:82px;
        margin-right: 82px;
        margin-top: 97px;
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: space-between;
        max-width: 1756px;
        height: 60px;
        

        &__logo {
            flex:0 0 60px;
            width:60px;
        }

        &__menu {
            
            display: flex;
            flex:0 1 563px;
            flex-direction: row;
            justify-content: space-between;
            height:60px;
            align-items: center;
            @include roboto;
            font-size: 18px;
            letter-spacing: 0.045em;
            color: #6F767E;
            a{
                text-decoration: none;
                color:#6F767E;
            }
        }

            &__menu-element {
            
                
                
            }
            

        &__autorization {
            height:max-content;
            @include roboto;
            font-size: 18px;
            letter-spacing: 0.045em;
            font-weight: bold;
            color:black;
        }
    }

        

        .center-item{
            
            @include centered;
            margin-top:1px;
            .amellasun{
                
                @include centered;
                
                margin-top:-59px;
            }
           
        }

    .local-footer {
        width:968px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        color:rgb(158, 164, 172);
        @include centered;
        top:86.7%;
        margin:0;
        
        &__element {
            @include roboto;
            width:max-content;
            letter-spacing: 0.018em;
            font-weight: 500;
            font-size: 20px;

            b{
                color: black;
                font-weight: 600;
            }
            p{
                max-width: 359px;
                font-weight: 400;
                font-size: 17px;
                line-height: 151.1%;
                letter-spacing: 0.01em;
                color:#4D5059;
                margin-top:29px;
            }

            
    }
            

    }
    .section-title{
        font-family: "Roboto";
        font-style: normal;
        font-weight: 500;
        font-size: 35px;
        color: #99A9C5;
        padding-left: 461px;
        padding-top:119px;
    }
    .left-svg{
        bottom:0;
        position: absolute;
    }
    .left-top-svg{
        top:0;
        position: absolute;
    }

    .social-icons {
        position: absolute;
        right:80px;
        bottom:175px;
        flex-direction: row;
        justify-content: space-between;
        display: flex;
        width: 82px;
    }
    .right-dots{
        position: absolute;
        top:279px;
        right:82px;
    }
    






    // ? ЭТО ФЛЕКС КОНТЕЙНЕР С ЭЛЕМЕНТАМИ 

    .collage-flex{
        display: flex;
        width:968px;
        flex-direction: row;
        flex-wrap: wrap;

        &__element{
            margin-left:40px;
        }
        &__element:nth-child(1){
            margin:0;
        }
    }

    // ?_________________________________





    
    // ? ЭТО ОДИН ЕЛЕМЕНТ С ИЗОБРАЖЕНИЕМ ИЗ КОЛАЖА 
    .image-wrapper{
        width:212px;
        overflow: hidden;
        border-radius: 43px;
        position: relative;
    }
    .tumbler{
        position: absolute;
        width:212px;
        height:106px;
        background:rgba(0, 0, 0, 0.192);
        bottom:0;
        transition: 0.3s;
        transform: translateY(106px);
        border-radius: 43px;

        .suka{
            backdrop-filter: blur(15px);
            height:100%;
            width:100%;
            border-radius: 43px;
        }

        h1{
            color:white;
            @include roboto;
            padding-top:25px;
            padding-left:25px;
            font-size: 17px;
        }
        p{
            padding-top:9px;
            padding-left:25px;
            font-size: 15px;
            color:#ffffffa9;
            @include roboto;
        }
    }
    .image-wrapper:hover .tumbler{
        transform:translateY(0px);
    }

// ?__________________________________________________























































    
}