* {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

body {
  background: #DFECFC;
}

.global-container {
  height: 100%;
  width: 100%;
}

.global-container .navbar {
  margin-left: 82px;
  margin-right: 82px;
  margin-top: 97px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1756px;
  height: 60px;
}

.global-container .navbar__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60px;
          flex: 0 0 60px;
  width: 60px;
}

.global-container .navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 563px;
          flex: 0 1 563px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  letter-spacing: 0.045em;
  color: #6F767E;
}

.global-container .navbar__autorization {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  letter-spacing: 0.045em;
  font-weight: bold;
  color: black;
}

.global-container .center-item {
  width: 951px;
  height: 578px !important;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-left: 15px;
  margin-top: 19px;
}

.global-container .center-item .amellasun {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-left: 15px;
  margin-top: 19px;
  margin-left: -27px;
  margin-top: -39px;
}

.global-container .local-footer {
  width: 968px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #9ea4ac;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-left: 15px;
  margin-top: 19px;
  top: 86.7%;
  margin: 0;
}

.global-container .local-footer__element {
  font-family: 'Roboto', sans-serif;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  letter-spacing: 0.018em;
  font-weight: 500;
  font-size: 20px;
}

.global-container .local-footer__element b {
  color: black;
  font-weight: 600;
}

.global-container .local-footer__element p {
  max-width: 359px;
  font-weight: 400;
  font-size: 17px;
  line-height: 151.1%;
  letter-spacing: 0.01em;
  color: #4D5059;
  margin-top: 29px;
}

.global-container .section-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  color: #99A9C5;
  padding-left: 461px;
  padding-top: 119px;
}

.global-container .left-svg {
  bottom: 0;
  position: absolute;
}

.global-container .left-top-svg {
  top: 0;
  position: absolute;
}

.global-container .social-icons {
  position: absolute;
  right: 80px;
  bottom: 175px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 82px;
}

.global-container .right-dots {
  position: absolute;
  top: 279px;
  right: 42px;
}
/*# sourceMappingURL=style.css.map */